src/mbroadcast/sample.mbroadcast1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://bucklingsprings.com/aware/addon/mbroadcast" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="AwareAddOn">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Program" type="xs:string" />
				<xs:element name="WorkingDirectory" type="xs:string" />
				<xs:element name="Arguments" type="xs:string" />
			</xs:sequence>
			<xs:attribute name="enabled" type="xs:boolean" use="required" />
		</xs:complexType>
	</xs:element>
</xs:schema>