src/mbroadcast/sample.mbroadcast.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="AwareAddOn">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Program" type="xs:string" nillable="false" />
				<xs:element name="WorkingDirectory" type="xs:string" nillable="false" />
				<xs:element name="Arguments" type="xs:string" nillable="false" />
			</xs:sequence>
			<xs:attribute name="enabled" type="xs:boolean" use="required" />
		</xs:complexType>
	</xs:element>
</xs:schema>